<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alter movie</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
      <dl>
        <labe>Poster update</labe>
        <p>
          <input type="file" name="filename">
        </p>
      </dl>
        <label>Movie title</label>
        <input type="text" name="movie_title"></br>
        <label>Description</label>
        <textarea type="text" name="description"></textarea></br>
        <label>Director</label>
        <input type="text" name="director" ></br>
        <label>Release year</label>
        <input type="number" name="release_year"></br>
        <input type="submit" name="update">
    </form>
</body>
</html>